
body {
    background-color: #b4b4b4;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    /* position: sticky; */
    top: 0;
    margin-bottom: 40px;
    background-color: white;
}

hr {
    color: dimgrey;
    border-style: solid;
    border-width: .05px;
}

.main {
    height: 100%;
    width: 90%;
    margin-top: -10px;
    padding: 15px 15px 15px 15px;
    background-color: #ffffff;
    
}


.book-title-container {
    background-color: #3269a8;
    color: white;
    padding: 10px 5px 5px 20px;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    margin-bottom: 2px;
    height: 35px;

}

.book-title-container:hover {
    background-color: #4287f5;    
}

.book-title-container:clicked {
    background-color: orange;    
}

.bible-book-title {
    display: inline;
    height: 30px;
    font-weight: 500;
    
}

.expand-me {
    display: inline-table;
    font-family: inherit;
    float: right;
    position: relative;
    right: 15px;

}

.chapters-wrapper {
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start ;
    background-color: ghostwhite;
    overflow: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.chapter-number {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #aaacb3;
    margin-right: 3px;
    margin-bottom: 3px;
    color: whitesmoke;
    cursor: pointer;
}

/* .chapter-number:hover {
    background-color: lightslategrey;
} */

.chap-num-text {
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    height: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.completed-chapter {
    background-color: orange;
}